/* ===================================NAVBAR=========================== */
nav a.nav-link{
  font-weight: 40px;
  cursor: pointer;
  color: red;
}
nav{
  background-color: aqua;
}
nav form.d-flex{
  margin-right: 250px;
  
}
nav form.d-flex input{
  width: 80%;
  
}

nav a:nth-of-type(2){
  color:blue;
}

/* slide */

img.d-block{
  height: 450px;
  background-position: cover;
}

/* project */
.card{
  width: 18rem;
}

.Project{
  padding-top: 10px;
  background-color: green;
}


.Project h1{
  margin-bottom: 10px;
}